.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
  align-items: baseline;
  margin-left: 30px;
}

@media screen and (max-width: 928px) {
  .profile__info {
    justify-content: center;
    max-width: 282px;
    margin: 26px 0 34px;
  }
}
