.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #272727;
  max-width: 1200px;
  width: 100%;
  height: 493px;
  border-radius: 10px;
}

.promo__title {
  color: white;
  width: 730px;
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -4%;
  margin: 160px 0;
}
