.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: 358px;
  width: 100%;
  color: white;
}

.register__caption {
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .register__input {
    width: 260px;
    font-size: 14px;
    line-height: 17px;
  }
}

.register__form {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__input {
  width: 358px;
  background-color: black;
  color: white;
  padding: 0 0 10px;
  border: none;
  border-bottom: 2px solid white;
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  outline: none;
  margin-bottom: 30px;
}

.register__input:last-of-type {
  margin-bottom: 216px;
}

.register__input::placeholder {
  color: white;
}

.register__input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px black;
  -webkit-text-fill-color: white !important;
  color: white !important;
}

@media screen and (max-width: 600px) {
  .register__input {
    width: 260px;
    font-size: 14px;
    line-height: 17px;
  }
}

.register__submit {
  width: 358px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  font-family: inherit;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .register__submit {
    width: 260px;
    height: 46px;
    font-size: 16px;
    line-height: 19px;
  }
}

.register__title {
  text-align: center;
  font-size: 24px;
  line-height: 23px;
  font-weight: 900;
  margin: 60px 0 50px;
}

@media screen and (max-width: 600px) {
  .register__title {
    margin: 40px 0;
    width: 260px;
    font-size: 20px;
    line-height: 24px;
  }
}