.searchForm {
  width: 89%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .searchForm {
    width: 92%;
  }
}

@media screen and (max-width: 600px) {
  .searchForm {
    width: 292px;
  }
}

.searchForm__form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
  border-bottom: 1px solid #424242;
  margin-top: 70px;
}

@media screen and (max-width: 900px) {
  .searchForm__form {
    margin-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  .searchForm__form {
    padding-bottom: 8px;
    margin-top: 85px;
  }
}
.searchForm__input-error {
  display: none;
  color: #ee3465;
  position: absolute;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  left: 0;
  top: 55px;
  z-index: 2;
}

.searchForm__input {
  background-color: #202020;
  color: #fff;
  border: none;
  font-family: inherit;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  width: 92%;
}

@media screen and (max-width: 600px) {
  .searchForm__input {
    font-size: 18px;
    line-height: 22px;
    width: 74%;
  }
}

.searchForm__input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #202020;
  -webkit-text-fill-color: white !important;
  color: white !important;
}

.searchForm__submit {
  width: 7%;
  background-color: #202020;
  background-image: url(../../../images/find.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 34px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .searchForm__submit {
    width: 25%;
    height: 34px;
  }
}
